Repository gravitee-io/gateway, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/apim, @gravitee-io/archi, @gravitee-io/element-zero

fix: text overflow in API documentation
  gravitee-apim-portal-webui-next/src/components/page/page-markdown/page-markdown.component.scss
Owners: @gravitee-io/apim

fix(portal): persist HTTP status criteria after search validation
  gravitee-apim-portal-webui/src/app/components/gv-analytics-filters/gv-analytics-filters.component.ts
Owners: @gravitee-io/element-zero

fix(portal/api-details-tab): ensure text breaks vertically within container
  gravitee-apim-portal-webui-next/src/components/page/page-markdown/page-markdown.component.scss
Owners: @gravitee-io/apim

fix: display uuid of groups in paginated view
  gravitee-apim-repository/gravitee-apim-repository-jdbc/src/main/java/io/gravitee/repository/jdbc/management/JdbcApplicationRepository.java
Owners: @gravitee-io/apim

refactor(repository): centralize index field values in dedicated class
  gravitee-apim-repository/gravitee-apim-repository-elasticsearch/src/main/java/io/gravitee/repository/elasticsearch/v4/log/adapter/connection/ConnectionLogField.java
  gravitee-apim-repository/gravitee-apim-repository-elasticsearch/src/main/java/io/gravitee/repository/elasticsearch/v4/log/adapter/connection/SearchConnectionLogQueryAdapter.java
  gravitee-apim-repository/gravitee-apim-repository-elasticsearch/src/main/java/io/gravitee/repository/elasticsearch/v4/log/adapter/connection/SearchConnectionLogResponseAdapter.java
Owners: @gravitee-io/apim

feat(repository): change elastic connection log query to have list of api ids
  gravitee-apim-repository/gravitee-apim-repository-api/src/main/java/io/gravitee/repository/log/v4/model/connection/ConnectionLogQuery.java
  gravitee-apim-repository/gravitee-apim-repository-elasticsearch/src/main/java/io/gravitee/repository/elasticsearch/v4/log/adapter/connection/SearchConnectionLogQueryAdapter.java
  gravitee-apim-repository/gravitee-apim-repository-elasticsearch/src/test/java/io/gravitee/repository/elasticsearch/v4/log/LogElasticsearchRepositoryTest.java
  gravitee-apim-repository/gravitee-apim-repository-elasticsearch/src/test/java/io/gravitee/repository/elasticsearch/v4/log/adapter/connection/SearchConnectionLogQueryAdapterTest.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/apim/infra/crud_service/log/ConnectionLogsCrudServiceImpl.java
Owners: @gravitee-io/apim

feat(repository): add request id, transaction id and uri filters to connection logs query
  gravitee-apim-repository/gravitee-apim-repository-api/src/main/java/io/gravitee/repository/log/v4/model/connection/ConnectionLogQuery.java
  gravitee-apim-repository/gravitee-apim-repository-elasticsearch/src/main/java/io/gravitee/repository/elasticsearch/v4/log/adapter/connection/SearchConnectionLogQueryAdapter.java
  gravitee-apim-repository/gravitee-apim-repository-elasticsearch/src/test/java/io/gravitee/repository/elasticsearch/v4/log/adapter/connection/SearchConnectionLogQueryAdapterTest.java
Owners: @gravitee-io/apim

feat(service): add method for searching application connection logs
  gravitee-apim-rest-api/gravitee-apim-rest-api-model/src/main/java/io/gravitee/rest/api/model/analytics/SearchLogsFilters.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/apim/core/log/crud_service/ConnectionLogsCrudService.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/apim/infra/crud_service/log/ConnectionLogsCrudServiceImpl.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/test/java/inmemory/ConnectionLogsCrudServiceInMemory.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/test/java/io/gravitee/apim/infra/crud_service/log/ConnectionLogsCrudServiceImplTest.java
Owners: @gravitee-io/apim

feat(service): add use case for searching application logs
  gravitee-apim-rest-api/gravitee-apim-rest-api-model/src/main/java/io/gravitee/rest/api/model/v4/log/connection/BaseConnectionLog.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/apim/core/log/use_case/SearchApplicationConnectionLogsUseCase.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/test/java/io/gravitee/apim/core/log/use_case/SearchApplicationConnectionLogsUseCaseTest.java
Owners: @gravitee-io/apim

feat(service): add domain service to handle metadata for connection logs
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/apim/core/log/domain_service/ConnectionLogMetadataDomainService.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/apim/core/log/model/BaseConnectionLog.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/apim/core/log/model/ConnectionLog.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/test/java/io/gravitee/apim/core/log/domain_service/ConnectionLogMetadataDomainServiceTest.java
Owners: @gravitee-io/apim

fix(console): button locked once import has started for v2 api
  gravitee-apim-console-webui/src/management/api/component/gio-api-import-dialog/gio-api-import-dialog.component.html
  gravitee-apim-console-webui/src/management/api/component/gio-api-import-dialog/gio-api-import-dialog.component.ts
Owners: @gravitee-io/element-zero

fix(console): consolidate api definition evaluation to avoid concurrent calls
  gravitee-apim-console-webui/src/management/api/policy-studio-v2/gio-policy-studio-layout.component.spec.ts
  gravitee-apim-console-webui/src/management/api/policy-studio-v2/gio-policy-studio-layout.component.ts
Owners: @gravitee-io/element-zero

feat: query to get all applications by environment
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/apim/core/application/query_service/ApplicationQueryService.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/apim/infra/query_service/application/ApplicationQueryServiceImpl.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/test/java/fixtures/core/model/ApplicationFixture.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/test/java/io/gravitee/apim/infra/query_service/application/ApplicationQueryServiceImplTest.java
Owners: @gravitee-io/apim

feat: endpoint to get top apps by request count for v4 APIs
  gravitee-apim-repository/gravitee-apim-repository-api/src/main/java/io/gravitee/repository/log/v4/api/AnalyticsRepository.java
  gravitee-apim-repository/gravitee-apim-repository-elasticsearch/src/main/java/io/gravitee/repository/elasticsearch/v4/analytics/AnalyticsElasticsearchRepository.java
  gravitee-apim-repository/gravitee-apim-repository-elasticsearch/src/main/java/io/gravitee/repository/elasticsearch/v4/analytics/adapter/SearchTopAppsAdapter.java
  gravitee-apim-repository/gravitee-apim-repository-elasticsearch/src/test/java/io/gravitee/repository/elasticsearch/v4/analytics/AnalyticsElasticsearchRepositoryTest.java
  gravitee-apim-repository/gravitee-apim-repository-elasticsearch/src/test/java/io/gravitee/repository/elasticsearch/v4/analytics/adapter/SearchTopAppsAdapterTest.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-management-v2/gravitee-apim-rest-api-management-v2-rest/src/main/java/io/gravitee/rest/api/management/v2/rest/mapper/EnvironmentAnalyticsMapper.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-management-v2/gravitee-apim-rest-api-management-v2-rest/src/main/java/io/gravitee/rest/api/management/v2/rest/resource/environment/EnvironmentAnalyticsResource.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-management-v2/gravitee-apim-rest-api-management-v2-rest/src/main/resources/openapi/openapi-environments.yaml
  gravitee-apim-rest-api/gravitee-apim-rest-api-management-v2/gravitee-apim-rest-api-management-v2-rest/src/test/java/io/gravitee/rest/api/management/v2/rest/resource/environment/EnvironmentAnalyticsResourceTest.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-model/src/main/java/io/gravitee/rest/api/model/analytics/TopHitsApps.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/apim/core/analytics/query_service/AnalyticsQueryService.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/apim/core/analytics/use_case/SearchEnvironmentTopAppsByRequestCountUseCase.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/apim/infra/query_service/analytics/AnalyticsQueryServiceImpl.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/apim/infra/query_service/application/ApplicationQueryServiceImpl.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/test/java/fakes/FakeAnalyticsQueryService.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/test/java/fixtures/core/model/ApplicationFixture.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/test/java/inmemory/ApplicationQueryServiceInMemory.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/test/java/inmemory/spring/InMemoryConfiguration.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/test/java/io/gravitee/apim/core/analytics/use_case/SearchEnvironmentTopAppsByRequestCountUseCaseTest.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/test/java/io/gravitee/apim/infra/query_service/analytics/AnalyticsQueryServiceImplTest.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/test/java/io/gravitee/apim/infra/query_service/application/ApplicationQueryServiceImplTest.java
Owners: @gravitee-io/apim

feat: Create deadline functionality for AsyncJob
  gravitee-apim-console-webui/src/entities/async-job/AsyncJob.ts
  gravitee-apim-repository/gravitee-apim-repository-api/src/main/java/io/gravitee/repository/management/api/AsyncJobRepository.java
  gravitee-apim-repository/gravitee-apim-repository-api/src/main/java/io/gravitee/repository/management/model/AsyncJob.java
  gravitee-apim-repository/gravitee-apim-repository-jdbc/src/main/java/io/gravitee/repository/jdbc/management/JdbcAsyncJobRepository.java
  gravitee-apim-repository/gravitee-apim-repository-jdbc/src/main/resources/liquibase/changelogs/v4_7_0/02_add_deadline_to_async_jobs_table.yml
  gravitee-apim-repository/gravitee-apim-repository-mongodb/src/main/java/io/gravitee/repository/mongodb/management/MongoAsyncJobRepository.java
  gravitee-apim-repository/gravitee-apim-repository-mongodb/src/main/java/io/gravitee/repository/mongodb/management/internal/asyncjob/AsyncJobMongoRepository.java
  gravitee-apim-repository/gravitee-apim-repository-mongodb/src/main/java/io/gravitee/repository/mongodb/management/internal/asyncjob/AsyncJobMongoRepositoryCustom.java
  gravitee-apim-repository/gravitee-apim-repository-mongodb/src/main/java/io/gravitee/repository/mongodb/management/internal/asyncjob/AsyncJobMongoRepositoryImpl.java
  gravitee-apim-repository/gravitee-apim-repository-test/src/test/java/io/gravitee/repository/management/AsyncJobRepositoryTest.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-management-v2/gravitee-apim-rest-api-management-v2-rest/src/main/java/io/gravitee/rest/api/management/v2/rest/mapper/IntegrationMapper.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-management-v2/gravitee-apim-rest-api-management-v2-rest/src/main/java/io/gravitee/rest/api/management/v2/rest/resource/integration/IntegrationResource.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-management-v2/gravitee-apim-rest-api-management-v2-rest/src/main/resources/openapi/openapi-apis.yaml
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/apim/core/async_job/crud_service/AsyncJobCrudService.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/apim/core/async_job/model/AsyncJob.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/apim/infra/crud_service/async_job/AsyncJobCrudServiceImpl.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/test/java/inmemory/AsyncJobCrudServiceInMemory.java
Owners: @gravitee-io/element-zero, @gravitee-io/apim

feat: Use deadline fonctionality for scoring jobs
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/apim/core/scoring/use_case/ScoreApiRequestUseCase.java
Owners: @gravitee-io/apim

feat: use deadline functionality for ingestion jobs
  gravitee-apim-rest-api/gravitee-apim-rest-api-management-v2/gravitee-apim-rest-api-management-v2-rest/src/test/java/io/gravitee/rest/api/management/v2/rest/resource/integration/IntegrationResourceTest.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/apim/core/integration/use_case/IngestFederatedApisUseCase.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/apim/core/integration/use_case/StartIngestIntegrationApisUseCase.java
Owners: @gravitee-io/apim

feat: Groups list and CRUD operations migration
  gravitee-apim-console-webui/src/app.module.ajs.ts
  gravitee-apim-console-webui/src/entities/consoleSettings.ts
  gravitee-apim-console-webui/src/entities/invitation/invitation.ts
  gravitee-apim-console-webui/src/index.scss
  gravitee-apim-console-webui/src/management/settings/groups/group/_group.scss
  gravitee-apim-console-webui/src/management/settings/groups/group/add-members-dialog/add-members-dialog.component.html
  gravitee-apim-console-webui/src/management/settings/groups/group/add-members-dialog/add-members-dialog.component.scss
  gravitee-apim-console-webui/src/management/settings/groups/group/add-members-dialog/add-members-dialog.component.spec.ts
  gravitee-apim-console-webui/src/management/settings/groups/group/add-members-dialog/add-members-dialog.component.ts
  gravitee-apim-console-webui/src/management/settings/groups/group/edit-member-dialog/edit-member-dialog.component.html
  gravitee-apim-console-webui/src/management/settings/groups/group/edit-member-dialog/edit-member-dialog.component.scss
  gravitee-apim-console-webui/src/management/settings/groups/group/edit-member-dialog/edit-member-dialog.component.spec.ts
  gravitee-apim-console-webui/src/management/settings/groups/group/edit-member-dialog/edit-member-dialog.component.ts
  gravitee-apim-console-webui/src/management/settings/groups/group/group.component.ajs.ts
  gravitee-apim-console-webui/src/management/settings/groups/group/group.component.html
  gravitee-apim-console-webui/src/management/settings/groups/group/group.component.scss
  gravitee-apim-console-webui/src/management/settings/groups/group/group.component.ts
  gravitee-apim-console-webui/src/management/settings/groups/group/invite-member-dialog/invite-member-dialog.component.html
  gravitee-apim-console-webui/src/management/settings/groups/group/invite-member-dialog/invite-member-dialog.component.scss
  gravitee-apim-console-webui/src/management/settings/groups/group/invite-member-dialog/invite-member-dialog.component.spec.ts
  gravitee-apim-console-webui/src/management/settings/groups/group/invite-member-dialog/invite-member-dialog.component.ts
  gravitee-apim-console-webui/src/management/settings/groups/groups.component.ajs.ts
  gravitee-apim-console-webui/src/management/settings/groups/groups.component.html
  gravitee-apim-console-webui/src/management/settings/groups/groups.component.scss
  gravitee-apim-console-webui/src/management/settings/groups/groups.component.ts
  gravitee-apim-console-webui/src/management/settings/groups/groups.module.ts
  gravitee-apim-console-webui/src/management/settings/settings.module.ts
  gravitee-apim-console-webui/src/services-ngx/group.service.ts
  gravitee-apim-rest-api/gravitee-apim-rest-api-model/src/main/java/io/gravitee/rest/api/model/parameters/Key.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-model/src/main/java/io/gravitee/rest/api/model/settings/ConsoleSettingsEntity.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/rest/api/service/impl/ConfigServiceImpl.java
Owners: @gravitee-io/element-zero, @gravitee-io/apim

fix(repository-mongo): improve SubscriptionApplicationNameUpgrader to limit bulkActions
  gravitee-apim-repository/gravitee-apim-repository-mongodb/src/main/java/io/gravitee/repository/mongodb/management/upgrade/upgrader/subscription/SubscriptionApplicationNameUpgrader.java
Owners: @gravitee-io/apim

feat(repository-jdbc): include applicationName in subscriptions
  gravitee-apim-repository/gravitee-apim-repository-jdbc/src/main/java/io/gravitee/repository/jdbc/management/JdbcSubscriptionRepository.java
  gravitee-apim-repository/gravitee-apim-repository-jdbc/src/main/resources/liquibase/changelogs/v4_7_0/02_add_application_name_to_subscription_table.yml
  gravitee-apim-repository/gravitee-apim-repository-jdbc/src/main/resources/liquibase/master.yml
  gravitee-apim-repository/gravitee-apim-repository-test/src/test/resources/data/subscription-tests/subscriptions.json
Owners: @gravitee-io/apim

test(repository): add applicationName into subscriptions set of api-key test sets
  gravitee-apim-repository/gravitee-apim-repository-test/src/test/resources/data/apikey-tests/subscriptions.json
Owners: @gravitee-io/apim

feat(service): sync application name in subscription object
  gravitee-apim-gateway/gravitee-apim-gateway-services/gravitee-apim-gateway-services-sync/src/main/java/io/gravitee/gateway/services/sync/SyncConfiguration.java
  gravitee-apim-gateway/gravitee-apim-gateway-services/gravitee-apim-gateway-services-sync/src/main/java/io/gravitee/gateway/services/sync/process/common/mapper/SubscriptionMapper.java
  gravitee-apim-gateway/gravitee-apim-gateway-services/gravitee-apim-gateway-services-sync/src/main/java/io/gravitee/gateway/services/sync/process/local/spring/LocalSyncConfiguration.java
  gravitee-apim-gateway/gravitee-apim-gateway-services/gravitee-apim-gateway-services-sync/src/main/java/io/gravitee/gateway/services/sync/process/local/synchronizer/LocalApiSynchronizer.java
  gravitee-apim-gateway/gravitee-apim-gateway-services/gravitee-apim-gateway-services-sync/src/main/java/io/gravitee/gateway/services/sync/process/repository/mapper/SubscriptionMapper.java
  gravitee-apim-gateway/gravitee-apim-gateway-services/gravitee-apim-gateway-services-sync/src/main/java/io/gravitee/gateway/services/sync/process/repository/spring/RepositorySyncConfiguration.java
  gravitee-apim-gateway/gravitee-apim-gateway-services/gravitee-apim-gateway-services-sync/src/main/java/io/gravitee/gateway/services/sync/process/repository/synchronizer/api/SubscriptionAppender.java
  gravitee-apim-gateway/gravitee-apim-gateway-services/gravitee-apim-gateway-services-sync/src/main/java/io/gravitee/gateway/services/sync/process/repository/synchronizer/subscription/SubscriptionSynchronizer.java
  gravitee-apim-gateway/gravitee-apim-gateway-services/gravitee-apim-gateway-services-sync/src/test/java/io/gravitee/gateway/services/sync/process/repository/mapper/SubscriptionMapperTest.java
  gravitee-apim-gateway/gravitee-apim-gateway-services/gravitee-apim-gateway-services-sync/src/test/java/io/gravitee/gateway/services/sync/process/repository/synchronizer/api/ApiSynchronizerTest.java
  gravitee-apim-gateway/gravitee-apim-gateway-services/gravitee-apim-gateway-services-sync/src/test/java/io/gravitee/gateway/services/sync/process/repository/synchronizer/api/SubscriptionAppenderTest.java
  gravitee-apim-gateway/gravitee-apim-gateway-services/gravitee-apim-gateway-services-sync/src/test/java/io/gravitee/gateway/services/sync/process/repository/synchronizer/subscription/SubscriptionSynchronizerTest.java
  pom.xml
Owners: @gravitee-io/archi, @gravitee-io/apim

feat(subscription): add applicationName and clientId to SubscriptionVariable
  gravitee-apim-gateway/gravitee-apim-gateway-handlers/gravitee-apim-gateway-handlers-api/src/main/java/io/gravitee/gateway/reactive/handlers/api/context/SubscriptionVariable.java
  gravitee-apim-gateway/gravitee-apim-gateway-handlers/gravitee-apim-gateway-handlers-api/src/test/java/io/gravitee/gateway/reactive/handlers/api/context/SubscriptionVariableTest.java
Owners: @gravitee-io/archi

feat(repository-mongodb): implement BulkWriteCollector for efficient bulk write operations
  gravitee-apim-repository/gravitee-apim-repository-mongodb/src/main/java/io/gravitee/repository/mongodb/management/upgrade/upgrader/subscription/SubscriptionApplicationNameUpgrader.java
  gravitee-apim-repository/gravitee-apim-repository-mongodb/src/main/java/io/gravitee/repository/mongodb/utils/BulkWriteCollector.java
Owners: @gravitee-io/apim

feat(subscription): add application name to Subscription
  gravitee-apim-repository/gravitee-apim-repository-api/src/main/java/io/gravitee/repository/management/model/Subscription.java
Owners: @gravitee-io/apim

feat(service): handle application name in subscription create and application update
  gravitee-apim-rest-api/gravitee-apim-rest-api-model/src/main/java/io/gravitee/rest/api/model/SubscriptionEntity.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/rest/api/service/impl/ApplicationServiceImpl.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/rest/api/service/impl/SubscriptionServiceImpl.java
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/test/java/io/gravitee/rest/api/service/impl/ApplicationService_UpdateTest.java
Owners: @gravitee-io/apim

feat(repository-mongo): add application name to Subscription
  gravitee-apim-repository/gravitee-apim-repository-mongodb/src/main/java/io/gravitee/repository/mongodb/management/MongoSubscriptionRepository.java
  gravitee-apim-repository/gravitee-apim-repository-mongodb/src/main/java/io/gravitee/repository/mongodb/management/internal/model/SubscriptionMongo.java
  gravitee-apim-repository/gravitee-apim-repository-mongodb/src/main/java/io/gravitee/repository/mongodb/management/upgrade/upgrader/subscription/SubscriptionApplicationNameUpgrader.java
  gravitee-apim-repository/gravitee-apim-repository-test/src/test/java/io/gravitee/repository/management/SubscriptionRepositoryTest.java
  gravitee-apim-repository/gravitee-apim-repository-test/src/test/resources/data/subscription-tests/subscriptions.json
Owners: @gravitee-io/apim

test(gateway): ensure subscription el variable
  gravitee-apim-integration-tests/src/test/java/io/gravitee/apim/integration/tests/el/SubscriptionElIntegrationTest.java
  gravitee-apim-integration-tests/src/test/java/io/gravitee/apim/integration/tests/plan/PlanHelper.java
  gravitee-apim-integration-tests/src/test/resources/apis/v4/el/api-with-subscription-el.json
Owners: @gravitee-io/apim

--wip-- [skip ci]
  gravitee-apim-console-webui/src/management/api/policy-studio-v2/gio-policy-studio-layout.component.html
  gravitee-apim-console-webui/src/management/api/policy-studio-v2/gio-policy-studio-layout.component.ts
Owners: @gravitee-io/element-zero

fix(mapi): application name was deleted in some cases from subscription
  gravitee-apim-rest-api/gravitee-apim-rest-api-service/src/main/java/io/gravitee/apim/core/subscription/model/SubscriptionEntity.java
Owners: @gravitee-io/apim

feat: add reset password
  gravitee-apim-portal-webui-next/src/app/app.routes.ts
  gravitee-apim-portal-webui-next/src/app/log-in/log-in.component.html
  gravitee-apim-portal-webui-next/src/app/log-in/log-in.component.ts
  gravitee-apim-portal-webui-next/src/app/log-in/reset-password/reset-password-confirmation/reset-password-confirmation.component.html
  gravitee-apim-portal-webui-next/src/app/log-in/reset-password/reset-password-confirmation/reset-password-confirmation.component.scss
  gravitee-apim-portal-webui-next/src/app/log-in/reset-password/reset-password-confirmation/reset-password-confirmation.component.spec.ts
  gravitee-apim-portal-webui-next/src/app/log-in/reset-password/reset-password-confirmation/reset-password-confirmation.component.ts
  gravitee-apim-portal-webui-next/src/app/log-in/reset-password/reset-password.component.html
  gravitee-apim-portal-webui-next/src/app/log-in/reset-password/reset-password.component.scss
  gravitee-apim-portal-webui-next/src/app/log-in/reset-password/reset-password.component.spec.ts
  gravitee-apim-portal-webui-next/src/app/log-in/reset-password/reset-password.component.ts
  gravitee-apim-portal-webui-next/src/app/validators/password-match.validator.spec.ts
  gravitee-apim-portal-webui-next/src/app/validators/password-match.validator.ts
  gravitee-apim-portal-webui-next/src/services/reset-password.service.spec.ts
  gravitee-apim-portal-webui-next/src/services/reset-password.service.ts
  gravitee-apim-portal-webui-next/src/services/token.service.spec.ts
  gravitee-apim-portal-webui-next/src/services/token.service.ts
Owners: @gravitee-io/apim

fix(console): integrations discover preview table pagination fix
  gravitee-apim-console-webui/src/management/integrations/discovery-preview/discovery-preview.component.html
  gravitee-apim-console-webui/src/management/integrations/discovery-preview/discovery-preview.component.ts
  gravitee-apim-console-webui/src/management/integrations/integrations.model.ts
Owners: @gravitee-io/element-zero

.github/CODEOWNERS:

# Default
*                                                             @gravitee-io/apim

# Archi
/gravitee-apim-gateway/                                       @gravitee-io/archi

# Element-zero
/gravitee-apim-console-webui/                                 @gravitee-io/element-zero
/gravitee-apim-portal-webui/                                  @gravitee-io/element-zero
